Repository pliekhus77/SMARTIES, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hackathon-team-lead, @mobile-dev-team, @backend-dev-team, @ai-dev-team, @devops-team, @documentation-team, @security-team

testing framework
  .amazonq/cli-todo-lists/1760438063803.json
  .kiro/specs/12-comprehensive-testing/tasks.md
  SMARTIES.MAUI.Tests/Helpers/MockServiceFactory.cs
  SMARTIES.MAUI.Tests/Helpers/TestDataBuilder.cs
  SMARTIES.MAUI.Tests/Integration/WorkflowIntegrationTests.cs
  SMARTIES.MAUI.Tests/Performance/ScanPerformanceTests.cs
  SMARTIES.MAUI.Tests/Safety/AllergenDetectionTests.cs
  SMARTIES.MAUI.Tests/Security/SecurityTests.cs
  SMARTIES.MAUI.Tests/Services/DietaryAnalysisServiceTests.cs
  SMARTIES.MAUI.Tests/Services/OpenFoodFactsServiceTests.cs
Owners: @hackathon-team-lead, @documentation-team

feat(performance): Implement comprehensive performance monitoring infrastructure
  .amazonq/cli-todo-lists/1760444990886.json
  .kiro/specs/13-performance-monitoring/tasks.md
  SMARTIES.MAUI.Tests/Integration/PerformanceIntegrationTests.cs
  SMARTIES.MAUI.Tests/Services/Performance/BatteryOptimizationServiceTests.cs
  SMARTIES.MAUI.Tests/Services/Performance/CachingServiceTests.cs
  SMARTIES.MAUI.Tests/Services/Performance/DbPerformanceServiceTests.cs
  SMARTIES.MAUI.Tests/Services/Performance/LifecyclePerformanceServiceTests.cs
  SMARTIES.MAUI.Tests/Services/Performance/NetworkServiceTests.cs
  SMARTIES.MAUI.Tests/Services/Performance/RegressionDetectionTests.cs
  SMARTIES.MAUI.Tests/Services/Performance/ScanPerformanceServiceTests.cs
  SMARTIES.MAUI.Tests/Services/Performance/TelemetryServiceTests.cs
  SMARTIES.MAUI/MauiProgram.cs
  SMARTIES.MAUI/Models/Performance/PerformanceMetrics.cs
  SMARTIES.MAUI/Services/Performance/AppLifecyclePerformanceService.cs
  SMARTIES.MAUI/Services/Performance/AutomatedPerformanceTestingService.cs
  SMARTIES.MAUI/Services/Performance/DataUsageOptimizationService.cs
  SMARTIES.MAUI/Services/Performance/DbMaintenanceService.cs
  SMARTIES.MAUI/Services/Performance/DeviceCapabilityService.cs
  SMARTIES.MAUI/Services/Performance/IAdaptiveNetworkService.cs
  SMARTIES.MAUI/Services/Performance/IBatteryOptimizationService.cs
  SMARTIES.MAUI/Services/Performance/IDbPerformanceService.cs
  SMARTIES.MAUI/Services/Performance/IIntelligentCacheService.cs
  SMARTIES.MAUI/Services/Performance/IPerformanceService.cs
  SMARTIES.MAUI/Services/Performance/IPerformanceTelemetryService.cs
  SMARTIES.MAUI/Services/Performance/IScanPerformanceService.cs
  SMARTIES.MAUI/Services/Performance/PerformanceAlertingService.cs
  SMARTIES.MAUI/Services/Performance/PerformanceBaselineService.cs
  SMARTIES.MAUI/Services/Performance/PerformanceService.cs
  SMARTIES.MAUI/Services/Performance/PowerSaveModeService.cs
  SMARTIES.MAUI/Services/Performance/PredictiveCacheService.cs
  SMARTIES.MAUI/Services/Performance/ScanResultTrackingService.cs
  SMARTIES.MAUI/Services/Performance/StartupPerformanceService.cs
  SMARTIES.MAUI/ViewModels/ScannerViewModel.cs
Owners: @hackathon-team-lead, @documentation-team

feat(advanced-features): Implement comprehensive advanced features infrastructure
  .amazonq/cli-todo-lists/1760454044310.json
  .kiro/specs/14-advanced-features/tasks.md
  SMARTIES.MAUI/Data/AdvancedFeaturesDbService.cs
  SMARTIES.MAUI/MauiProgram.cs
  SMARTIES.MAUI/Models/AdvancedSearch.cs
  SMARTIES.MAUI/Models/CustomRestriction.cs
  SMARTIES.MAUI/Models/DietaryAnalytics.cs
  SMARTIES.MAUI/Models/FamilyProfile.cs
  SMARTIES.MAUI/Models/ProductRecommendation.cs
  SMARTIES.MAUI/Services/AdvancedSearchService.cs
  SMARTIES.MAUI/Services/AnalyticsService.cs
  SMARTIES.MAUI/Services/CustomRestrictionService.cs
  SMARTIES.MAUI/Services/FamilyProfileRepository.cs
  SMARTIES.MAUI/Services/FamilyProfileService.cs
  SMARTIES.MAUI/Services/NotificationService.cs
  SMARTIES.MAUI/Services/RecommendationService.cs
  SMARTIES.MAUI/Services/SocialSharingService.cs
  SMARTIES.MAUI/Tests/FamilyProfileServiceTests.cs
  SMARTIES.MAUI/ViewModels/FamilyProfilesViewModel.cs
  SMARTIES.MAUI/Views/FamilyProfilesPage.xaml
  SMARTIES.MAUI/Views/FamilyProfilesPage.xaml.cs
Owners: @hackathon-team-lead, @documentation-team

feat(splash-screen): Implement comprehensive splash screen with SMARTIES branding
  .amazonq/cli-todo-lists/1760476083275.json
  .kiro/specs/15-splash-screen-with-logo/design.md
  .kiro/specs/15-splash-screen-with-logo/requirements.md
  .kiro/specs/15-splash-screen-with-logo/tasks.md
  .kiro/specs/15-splash-screen-with-logo/testing-plan.md
  SMARTIES.MAUI/App.xaml.cs
  SMARTIES.MAUI/MauiProgram.cs
  SMARTIES.MAUI/Platforms/Android/Resources/values/colors.xml
  SMARTIES.MAUI/Resources/Splash/smarties_logo.png
  SMARTIES.MAUI/Resources/Splash/smarties_logo.svg
  SMARTIES.MAUI/SMARTIES.MAUI.csproj
  SMARTIES.MAUI/Services/ISplashScreenService.cs
  SMARTIES.MAUI/Services/SplashScreenAccessibilityService.cs
  SMARTIES.MAUI/Services/SplashScreenService.cs
  SMARTIES.MAUI/Tests/SplashScreenIntegrationTests.cs
  SMARTIES.MAUI/Tests/SplashScreenServiceTests.cs
Owners: @hackathon-team-lead, @documentation-team

feat: Add .NET MAUI CI/CD workflow with iOS build validation
  .github/workflows/ci.yml
Owners: @devops-team

docs: add SMARTIES content strategy (blog, video, partnerships)
  docs/CONTENT_STRATEGY.md
Owners: @documentation-team

docs: add canonical SMARTIES product roadmap (Phase 1/2, DoD, traceability)
  docs/PRODUCT_ROADMAP.md
Owners: @documentation-team

ci: add signed Android AAB job for tags and workflow_dispatch
  .github/workflows/ci.yml
  docs/CI_CD_SETUP.md
  global.json
Owners: @devops-team, @documentation-team, @hackathon-team-lead

ci: install MAUI workload before restore in test job
  .github/workflows/ci.yml
Owners: @devops-team

ci: use maui-android workload on Linux runners
  .github/workflows/ci.yml
Owners: @devops-team

fix: restore UserProfileService method boundaries after merge damage
  SMARTIES.MAUI/Services/UserProfileService.cs
Owners: @hackathon-team-lead

build: enable net8.0 MAUI TFM for tests; add test project to solution
  SMARTIES.MAUI/SMARTIES.MAUI.csproj
  SMARTIES.sln
Owners: @hackathon-team-lead

test: add FluentAssertions and global Xunit usings
  SMARTIES.MAUI.Tests/SMARTIES.MAUI.Tests.csproj
Owners: @hackathon-team-lead

test: align helpers and workflows with current service/model APIs
  SMARTIES.MAUI.Tests/Helpers/MockServiceFactory.cs
  SMARTIES.MAUI.Tests/Helpers/TestDataBuilder.cs
  SMARTIES.MAUI.Tests/Integration/ScanningWorkflowTests.cs
  SMARTIES.MAUI.Tests/Performance/ScanPerformanceTests.cs
Owners: @hackathon-team-lead

test: fix workflow integration and service tests for current APIs
  SMARTIES.MAUI.Tests/Integration/WorkflowIntegrationTests.cs
  SMARTIES.MAUI.Tests/Services/DietaryAnalysisServiceTests.cs
  SMARTIES.MAUI.Tests/Services/OpenFoodFactsServiceTests.cs
Owners: @hackathon-team-lead

test: drop obsolete DietaryAnalysis Summary/Recommendation in scan workflow test
  SMARTIES.MAUI.Tests/Integration/ScanningWorkflowTests.cs
Owners: @hackathon-team-lead

fix: green CI tests — User-Agent header, DI baseline, exclude SecureStorage tests
  SMARTIES.MAUI.Tests/Integration/PerformanceIntegrationTests.cs
  SMARTIES.MAUI.Tests/SMARTIES.MAUI.Tests.csproj
  SMARTIES.MAUI.Tests/Services/OpenFoodFactsServiceTests.cs
  SMARTIES.MAUI/Services/OpenFoodFactsService.cs
Owners: @hackathon-team-lead

ci: ApplicationId for iOS; win-x64 restore for Windows MAUI build
  .github/workflows/ci.yml
  SMARTIES.MAUI/SMARTIES.MAUI.csproj
Owners: @devops-team, @hackathon-team-lead

ci: drop iOS job — csproj has no net8.0-ios target
  .github/workflows/ci.yml
Owners: @devops-team

Add AGENTS.md with Cursor Cloud development environment instructions
  AGENTS.md
Owners: @documentation-team

.github/CODEOWNERS:

# CODEOWNERS file for SMARTIES hackathon project
# This file defines who should review specific parts of the codebase

# Global owners - hackathon team leads
* @hackathon-team-lead

# React Native mobile app
/smarties/ @mobile-dev-team

# Backend services and APIs
/src/services/ @backend-dev-team

# Database and data models
/src/models/ @backend-dev-team
/setup-database.js @backend-dev-team
/playground-*.mongodb.js @backend-dev-team

# AI and machine learning components
/src/services/ai/ @ai-dev-team
/src/utils/allergenDetection.ts @ai-dev-team

# Infrastructure and deployment
/.github/ @devops-team
/infrastructure/ @devops-team
*.yml @devops-team
*.yaml @devops-team

# Documentation
/docs/ @documentation-team
README.md @documentation-team
*.md @documentation-team

# Configuration files
.env.example @devops-team
package.json @hackathon-team-lead
tsconfig.json @mobile-dev-team

# Security sensitive files
.env @security-team
/secrets/ @security-team
*.key @security-team
*.pem @security-team
