Repository pliekhus77/SMARTIES, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hackathon-team-lead, @mobile-dev-team, @backend-dev-team, @ai-dev-team, @devops-team, @documentation-team, @security-team

3.2 Configure version control and collaboration tools
  .kiro/specs/00-hackathon-setup/tasks.md
Owners: @documentation-team

3.3 Create project documentation and setup guides
  .kiro/specs/00-hackathon-setup/tasks.md
  DEVELOPMENT_SETUP.md
  QUICK_REFERENCE.md
  README.md
  TEAM_ONBOARDING.md
  TROUBLESHOOTING.md
  smarties/README.md
Owners: @documentation-team

4.2 Configure development security practices 5.1 Initialize React Native project with TypeScript
  .amazonq/cli-todo-lists/1760211696461.json
  .kiro/specs/00-hackathon-setup/tasks.md
  smarties/.eslintrc.js
  smarties/app.json
  smarties/jest.config.js
  smarties/package-lock.json
  smarties/package.json
  smarties/src/index.ts
  smarties/src/models/Product.ts
  smarties/src/models/UserProfile.ts
  smarties/src/services/ai/anthropic.ts
  smarties/src/services/ai/openai.ts
  smarties/src/services/atlas/database.ts
  smarties/src/services/barcode/product-lookup.ts
  smarties/src/services/dietary/allergen-detector.ts
  smarties/src/services/dietary/religious-compliance.ts
  smarties/src/utils/formatting.ts
  smarties/src/utils/medicalChecks.ts
  smarties/src/utils/religiousCompliance.ts
  smarties/src/utils/validation.ts
  smarties/tsconfig.json
  src/services/api/httpClient.ts
  src/services/security/__tests__/security.test.ts
  src/services/security/secureStorage.ts
  src/utils/security.ts
  src/utils/validation.ts
Owners: @hackathon-team-lead, @documentation-team, @mobile-dev-team, @backend-dev-team

5.2 Create core application structure
  .kiro/specs/00-hackathon-setup/tasks.md
  smarties/App.tsx
  smarties/README.md
  smarties/package-lock.json
  smarties/package.json
  smarties/src/__tests__/navigation.test.tsx
  smarties/src/index.ts
  smarties/src/screens/HistoryScreen.tsx
  smarties/src/screens/ProfileScreen.tsx
  smarties/src/screens/ScanScreen.tsx
  smarties/src/screens/SettingsScreen.tsx
  smarties/src/types/index.ts
  smarties/src/types/navigation.ts
Owners: @documentation-team, @mobile-dev-team, @hackathon-team-lead

5.3 Implement database connection service 6.1 Set up testing framework and basic tests
  .amazonq/cli-todo-lists/1760213731623.json
  .kiro/specs/00-hackathon-setup/tasks.md
  package.json
  smarties/src/config/atlas.ts
  smarties/src/services/atlas/README.md
  smarties/src/services/atlas/__tests__/database.test.ts
  smarties/src/services/atlas/collections.ts
  smarties/src/services/atlas/database.ts
  smarties/src/services/atlas/examples/usage.ts
  smarties/src/services/atlas/index.ts
  src/components/__tests__/DietaryAlert.test.tsx
  src/components/__tests__/ProductCard.test.tsx
  src/services/__tests__/barcodeService.test.ts
  src/services/__tests__/dietaryService.test.ts
  src/test/builders/testDataBuilders.ts
  src/test/mocks/mockServices.ts
  src/test/setup.ts
Owners: @hackathon-team-lead, @documentation-team, @mobile-dev-team, @backend-dev-team

6.1 Set up testing framework and basic tests
  .amazonq/cli-todo-lists/1760213731623.json
  .kiro/specs/00-hackathon-setup/tasks.md
Owners: @hackathon-team-lead, @documentation-team

5.4 Create AI service integration layer 6.2 Implement integration testing
  .amazonq/cli-todo-lists/1760214311215.json
  .kiro/specs/00-hackathon-setup/tasks.md
  package.json
  smarties/AI_SERVICE_INTEGRATION_COMPLETE.md
  smarties/src/services/ai/__tests__/ai-service-integration.test.ts
  smarties/src/services/ai/ai-service-factory.ts
  smarties/src/services/ai/anthropic.ts
  smarties/src/services/ai/dietary-analysis.ts
  smarties/src/services/ai/index.ts
  smarties/src/services/ai/openai.ts
  smarties/src/utils/test-ai-services.ts
  src/test/builders/testDataBuilders.ts
  src/test/integration/aiService.integration.test.ts
  src/test/integration/database.integration.test.ts
  src/test/integration/scanningWorkflow.integration.test.ts
  src/test/integration/setup.ts
Owners: @hackathon-team-lead, @documentation-team, @mobile-dev-team

5.5 Set up basic barcode scanning functionality 6.3 Validate cross-platform functionality
  .amazonq/cli-todo-lists/1760215090451.json
  .kiro/specs/00-hackathon-setup/tasks.md
  package.json
  smarties/BARCODE_SCANNING_COMPLETE.md
  smarties/src/components/scanner/BarcodeScanner.tsx
  smarties/src/components/scanner/README.md
  smarties/src/components/scanner/__tests__/BarcodeScanner.test.tsx
  smarties/src/components/scanner/index.ts
  smarties/src/screens/ScanScreen.tsx
  smarties/src/screens/__tests__/ScanScreen.test.tsx
  smarties/src/services/barcode/__tests__/scanner.test.ts
  src/test/platform/android.platform.test.ts
  src/test/platform/crossPlatform.test.ts
  src/test/platform/ios.platform.test.ts
  src/test/platform/platformUtils.ts
Owners: @hackathon-team-lead, @documentation-team, @mobile-dev-team

7.1 Configure basic build automation
  .github/workflows/build-status.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-hackathon.yml
  .kiro/specs/00-hackathon-setup/tasks.md
  README.md
  docs/CI_CD_SETUP.md
  package.json
  scripts/validate-ci.js
Owners: @devops-team, @documentation-team, @hackathon-team-lead

7.2 Implement automated testing in CI/CD
  .github/workflows/ci.yml
  .kiro/specs/00-hackathon-setup/tasks.md
  smarties/TESTING.md
  smarties/__tests__/setup/ci-setup.test.ts
  smarties/integration/cloud/ai-services.integration.test.ts
  smarties/integration/cloud/mongodb.integration.test.ts
  smarties/integration/e2e/scanning-workflow.integration.test.ts
  smarties/jest.integration.config.js
  smarties/junit.xml
  smarties/package-lock.json
  smarties/package.json
  smarties/scripts/test-summary.js
  smarties/test-results/test-results.xml
Owners: @devops-team, @documentation-team, @mobile-dev-team, @hackathon-team-lead

7.3 Set up basic deployment automation
  .github/workflows/deploy-hackathon.yml
  .kiro/specs/00-hackathon-setup/tasks.md
  smarties/DEPLOYMENT.md
  smarties/deployment.config.js
  smarties/package.json
  smarties/scripts/deployment-monitor.js
  smarties/scripts/deployment-status.js
  smarties/scripts/health-check.js
  smarties/scripts/rollback.js
Owners: @devops-team, @documentation-team, @mobile-dev-team, @hackathon-team-lead

8.1 Validate complete development environment
  .kiro/specs/00-hackathon-setup/tasks.md
  DEVELOPMENT_ENVIRONMENT_VALIDATION_REPORT.md
  smarties/app.json
  smarties/package-lock.json
  smarties/package.json
  smarties/test-results/test-results.xml
Owners: @documentation-team, @mobile-dev-team, @hackathon-team-lead

8.2 Create deployment and troubleshooting documentation 8.3 Prepare hackathon development environment
  .amazonq/cli-todo-lists/1760218012105.json
  .kiro/specs/00-hackathon-setup/tasks.md
  CLOUD_SERVICES_CONFIGURATION.md
  DEPLOYMENT_GUIDE.md
  HACKATHON_SETUP.md
  HACKATHON_TEAM_GUIDE.md
  docs/SHARED_RESOURCES.md
  docs/TEAM_ONBOARDING.md
  docs/TROUBLESHOOTING.md
  package.json
  scripts/validate-setup.js
Owners: @hackathon-team-lead, @documentation-team

8.3 Prepare hackathon development environment
  .amazonq/cli-todo-lists/1760218012105.json
  .kiro/specs/00-hackathon-setup/tasks.md
Owners: @hackathon-team-lead, @documentation-team

enhanced requirements and tasks for the next phase
  .kiro/specs/01-core-architecture/requirements.md
Owners: @documentation-team

feat(config): Implement comprehensive environment configuration and secrets management
  .amazonq/cli-todo-lists/1760219244415.json
  .amazonq/cli-todo-lists/1760219275875.json
  .gitignore
  .kiro/specs/01-core-architecture/tasks.md
  smarties/__tests__/services/atlas/database.test.ts
  smarties/__tests__/setup/ci-setup.test.ts
  smarties/junit.xml
  smarties/src/__tests__/navigation.test.tsx
  smarties/src/models/__tests__/Product.test.ts
  smarties/src/services/atlas/__tests__/database.test.ts
  smarties/src/services/atlas/collections.ts
  smarties/src/services/atlas/examples/usage.ts
  smarties/src/services/dietary/compliance-checker.ts
  smarties/test-results/test-results.xml
  src/config/__tests__/config.test.ts
  src/config/__tests__/secrets.test.ts
  src/config/config.ts
  src/config/secrets.ts
  src/types/Product.ts
  src/types/ScanResult.ts
  src/types/User.ts
  src/types/__tests__/Product.test.ts
  src/types/__tests__/ScanResult.test.ts
  src/types/__tests__/User.test.ts
  src/types/index.ts
Owners: @hackathon-team-lead, @documentation-team, @mobile-dev-team

feat(database): Implement comprehensive MongoDB Atlas database service
  .kiro/specs/01-core-architecture/tasks.md
  src/services/DatabaseService.ts
  src/services/__tests__/DatabaseService.test.ts
  src/services/examples/DatabaseServiceExample.ts
Owners: @documentation-team, @backend-dev-team

feat(navigation): Implement comprehensive React Native navigation structure
  .amazonq/cli-todo-lists/1760223866702.json
  .kiro/specs/01-core-architecture/tasks.md
  application-paths.md
  design/style-guide.md
  smarties/App.tsx
  smarties/__tests__/App.test.tsx
  smarties/src/navigation/ScanStack.tsx
  smarties/src/navigation/__tests__/ScanStack.test.tsx
  smarties/src/navigation/index.ts
  smarties/src/screens/ResultScreen.tsx
  smarties/src/screens/__tests__/ResultScreen.test.tsx
  smarties/src/screens/index.ts
  smarties/src/styles/constants.ts
  smarties/src/types/navigation.ts
  smarties/test-results/test-results.xml
  src/__tests__/offline.test.ts
  src/components/OfflineIndicator.tsx
  src/hooks/useOffline.ts
  src/services/DatabaseService.ts
  src/services/__tests__/DatabaseService.healthcheck.test.ts
  src/services/examples/healthcheck-example.ts
  src/utils/offline.ts
Owners: @hackathon-team-lead, @documentation-team, @mobile-dev-team, @backend-dev-team

test(database): Add comprehensive integration tests for DatabaseService
  .gitignore
  .kiro/specs/01-core-architecture/tasks.md
  src/test/integration/DatabaseService.integration.test.ts
  src/test/integration/database.integration.test.ts
Owners: @hackathon-team-lead, @documentation-team

feat(database): Implement comprehensive database initialization and integration
  .kiro/specs/01-core-architecture/tasks.md
  node_modules/.package-lock.json
  package-lock.json
  package.json
  smarties/App.tsx
  smarties/__tests__/e2e/AppIntegration.test.tsx
  smarties/__tests__/e2e/ScreenDatabaseIntegration.test.tsx
  smarties/__tests__/e2e/setup.ts
  smarties/package.json
  smarties/src/components/ErrorBoundary.tsx
  smarties/src/components/LoadingScreen.tsx
  smarties/src/components/OfflineBanner.tsx
  smarties/src/components/index.ts
  smarties/src/hooks/index.ts
  smarties/src/hooks/useConnectionStatus.ts
  smarties/src/hooks/useDatabase.ts
  smarties/src/screens/HistoryScreen.tsx
  smarties/src/screens/ProfileScreen.tsx
  smarties/src/screens/ScanScreen.tsx
  smarties/src/services/AppInitializationService.ts
  smarties/src/services/ConnectionStatusService.ts
  smarties/src/services/index.ts
  src/__tests__/database/collections.test.ts
  src/__tests__/database/performance.test.ts
  src/__tests__/integration/database-setup.integration.test.ts
  src/docs/INDEX_IMPLEMENTATION_SUMMARY.md
  src/scripts/README.md
  src/scripts/setup-collections.d.ts
  src/scripts/setup-collections.js
  src/scripts/setup-indexes.ts
  src/services/DatabaseService.ts
  src/services/__tests__/DatabaseService.indexes.test.ts
Owners: @documentation-team, @hackathon-team-lead, @mobile-dev-team, @backend-dev-team

8.1 Test iOS simulator build and functionality
  .kiro/specs/01-core-architecture/tasks.md
  smarties/IOS_TESTING_COMPLETE.md
  smarties/app.json
  smarties/package.json
  smarties/scripts/debug-screens.js
  smarties/scripts/ios-validation-suite.js
  smarties/scripts/test-ios-build.js
  smarties/scripts/test-ios-compatibility.js
  smarties/scripts/test-ios-functionality.js
  smarties/scripts/test-ios-navigation.js
  smarties/src/components/ErrorBoundary.tsx
  smarties/src/screens/HistoryScreen.tsx
  smarties/src/screens/ProfileScreen.tsx
  smarties/src/screens/ScanScreen.tsx
Owners: @documentation-team, @mobile-dev-team, @hackathon-team-lead

feat(android): Complete Android simulator build and functionality testing
  .kiro/specs/01-core-architecture/tasks.md
  smarties/ANDROID_TESTING_COMPLETE.md
  smarties/package.json
  smarties/scripts/android-validation-suite.js
  smarties/scripts/test-android-build.js
  smarties/scripts/test-android-compatibility.js
  smarties/scripts/test-android-functionality.js
  smarties/scripts/test-android-navigation.js
  smarties/test-results/android-validation-results.json
Owners: @documentation-team, @hackathon-team-lead, @mobile-dev-team

feat(performance): Implement comprehensive performance testing framework
  .kiro/specs/01-core-architecture/tasks.md
  .kiro/specs/02-data-schema-ingestion/requirements.md
  smarties/PERFORMANCE_VALIDATION_SUMMARY.md
  smarties/__tests__/performance/app-startup-performance.test.ts
  smarties/__tests__/performance/database-performance.test.ts
  smarties/__tests__/performance/memory-performance.test.ts
  smarties/__tests__/performance/navigation-performance.test.ts
  smarties/package.json
  smarties/scripts/run-performance-tests.js
  smarties/scripts/validate-performance-requirements.js
  smarties/test-results/test-results.xml
Owners: @documentation-team, @mobile-dev-team, @hackathon-team-lead

test(cross-platform): Implement comprehensive performance and compatibility testing
  .kiro/specs/01-core-architecture/tasks.md
  smarties/__tests__/cross-platform/PerformanceBenchmarks.test.tsx
  smarties/__tests__/cross-platform/PlatformCompatibility.test.tsx
  smarties/__tests__/cross-platform/UIConsistency.test.tsx
Owners: @documentation-team, @mobile-dev-team

feat(database): Implement OpenFoodFacts vector database upload script
  package.json
  scripts/upload-config.env
  scripts/upload-openfoodfacts-vector.js
  smarties/__tests__/cross-platform/NavigationConsistency.test.tsx
  smarties/__tests__/cross-platform/SimplePlatformCompatibility.test.tsx
  smarties/__tests__/cross-platform/setup.ts
  smarties/jest.cross-platform.config.js
  smarties/package.json
  smarties/scripts/cross-platform-results-processor.js
  smarties/scripts/cross-platform-test-reporter.js
  smarties/scripts/run-cross-platform-tests.js
  smarties/test-results/cross-platform-compatibility-report.json
  smarties/test-results/cross-platform-compatibility-report.md
  smarties/test-results/navigationConsistency-results.json
  smarties/test-results/performanceBenchmarks-results.json
  smarties/test-results/platformCompatibility-results.json
  smarties/test-results/simplePlatformCompatibility-results.json
  smarties/test-results/test-results.xml
  smarties/test-results/uiConsistency-results.json
Owners: @hackathon-team-lead, @mobile-dev-team, @documentation-team

docs(data-schema): Add comprehensive data ingestion design documentation
  .kiro/specs/02-data-schema-ingestion/design.md
  .kiro/specs/02-data-schema-ingestion/requirements.md
  .kiro/specs/02-data-schema-ingestion/tasks.md
Owners: @documentation-team

feat(data-schema): Enhance OpenFoodFacts data ingestion design with AWS and Hugging Face integration
  .kiro/specs/02-data-schema-ingestion/design.md
  .kiro/specs/02-data-schema-ingestion/requirements.md
  .kiro/specs/02-data-schema-ingestion/tasks.md
  package.json
  scripts/upload-config.env
  scripts/upload-openfoodfacts-vector.js
Owners: @documentation-team, @hackathon-team-lead

1. Set up MongoDB Atlas Vector Search infrastructure and core data models . Set up Hugging Face Transformers for local embedding generation
  .kiro/specs/02-data-schema-ingestion/design.md
  .kiro/specs/02-data-schema-ingestion/tasks.md
  HUGGINGFACE_SETUP.md
  __pycache__/huggingface_config.cpython-313.pyc
  docker-compose.yml
  embedding_service.py
  huggingface_config.py
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/adapter_config.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/added_tokens.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/chat_template.jinja
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/refs/main
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/1_Pooling/config.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/README.md
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config_sentence_transformers.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/modules.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/sentence_bert_config.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/special_tokens_map.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/tokenizer.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/tokenizer_config.json
  models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/vocab.txt
  mongodb_atlas_setup.py
  package.json
  requirements.txt
  setup-local-db-simple.sh
  src/models/DatabaseConnection.ts
  src/models/Product.ts
  src/models/README.md
  src/models/VectorSearchIndex.ts
  src/models/__tests__/DatabaseConnection.integration.test.ts
  src/models/__tests__/Product.test.ts
  src/models/__tests__/VectorSearchIndex.test.ts
  src/models/index.ts
  src/scripts/setup-mongodb-atlas.ts
  src/scripts/test-mongodb-setup.ts
  src/types/Product.ts
  start-local-mongodb.sh
  test_huggingface_setup.py
Owners: @documentation-team, @hackathon-team-lead, @devops-team, @backend-dev-team

2.2 Create embedding service interface and implementation
  .kiro/specs/02-data-schema-ingestion/tasks.md
  __pycache__/embedding_service.cpython-313.pyc
  embedding_service_interface.py
  package.json
  src/services/EmbeddingService.ts
  src/services/README.md
  src/services/__tests__/EmbeddingService.test.ts
  src/services/examples/EmbeddingServiceExample.ts
  src/test/jest.setup.js
  src/types/EmbeddingService.ts
  src/types/index.ts
  test-embedding-integration.py
Owners: @documentation-team, @hackathon-team-lead, @backend-dev-team

2.3 Implement embedding generation for product data
  .kiro/specs/02-data-schema-ingestion/tasks.md
  TASK_2_3_IMPLEMENTATION_SUMMARY.md
  __pycache__/embedding_service.cpython-313.pyc
  embedding_service.py
  src/services/examples/ProductEmbeddingExample.ts
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/adapter_config.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/added_tokens.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/chat_template.jinja
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/refs/main
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/1_Pooling/config.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/README.md
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config_sentence_transformers.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/modules.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/sentence_bert_config.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/special_tokens_map.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/tokenizer.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/tokenizer_config.json
  src/services/examples/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/vocab.txt
  test-task-2-3-implementation.py
Owners: @documentation-team, @hackathon-team-lead, @backend-dev-team

2.4 Write unit tests for Hugging Face embedding service
  .kiro/specs/02-data-schema-ingestion/tasks.md
  TASK_2_4_UNIT_TESTS_SUMMARY.md
  test_embedding_service_unit.py
Owners: @documentation-team, @hackathon-team-lead

feat(app): Implement SMARTIES mobile app core architecture and navigation
  design/SMARTIES_LOGO.png
  smarties/App.dev.tsx
  smarties/App.tsx
  smarties/app.json
  smarties/assets/logo.png
  smarties/assets/smarties-logo.png
  smarties/package.json
  smarties/src/components/scanner/BarcodeScanner.tsx
  smarties/src/config/config.ts
  smarties/src/hooks/useDatabase.ts
  smarties/src/screens/HomeScreen.tsx
  smarties/src/screens/ProfileScreen.tsx
  smarties/src/screens/ScanScreen.simple.tsx
  smarties/src/screens/index.ts
  smarties/src/services/AppInitializationService.ts
  smarties/src/services/DatabaseService.ts
  smarties/start-dev.ps1
  src/config/secrets.ts
  src/services/DatabaseService.ts
Owners: @hackathon-team-lead, @mobile-dev-team, @backend-dev-team

fixed scanning screen
  backend-package.json
  backend-server.js
  node_modules/.package-lock.json
  package-lock.json
  package.json
  scripts/extract-top-100.ts
  scripts/load-top-products.ts
  scripts/process-existing-data.ts
  scripts/process-restored-data.ts
  scripts/restore-and-process.sh
  smarties/src/screens/HomeScreen.tsx
  smarties/src/screens/ScanScreen.tsx
  smarties/src/services/DatabaseService.ts
  start-smarties.ps1
Owners: @hackathon-team-lead, @mobile-dev-team

adjusted restirctions - added rag search
  .amazonq/cli-todo-lists/1760261497107.json
  .kiro/specs/04-vector-search-setup/design.md
  .kiro/specs/04-vector-search-setup/requirements.md
  .kiro/specs/04-vector-search-setup/tasks.md
  .kiro/specs/05-enhanced-profile-screen/tasks.md
  smarties/src/__tests__/components/profile/RestrictionCard.test.tsx
  smarties/src/__tests__/types/profile.test.ts
  smarties/src/components/profile/AllergenIcon.tsx
  smarties/src/components/profile/AllergenSelectionModal.tsx
  smarties/src/components/profile/RestrictionCard.tsx
  smarties/src/components/profile/SeveritySlider.tsx
  smarties/src/screens/ProfileScreen.tsx
  smarties/src/services/profile/ProfileService.ts
  smarties/src/types/profile.ts
  smarties/test-results/test-results.xml
  src/services/DemoScenariosService.ts
  src/services/DietaryService.ts
  src/services/FamilyProfileService.ts
  src/services/LLMCostOptimizationService.ts
  src/services/PerformanceMonitoringService.ts
  src/services/RAGContextService.ts
  src/services/RAGService.ts
  src/services/UserFeedbackService.ts
  src/services/VectorIndexService.ts
Owners: @hackathon-team-lead, @documentation-team, @mobile-dev-team, @backend-dev-team

Add backend cleanup spec and update steering documentation
  .kiro/specs/08-backend-cleanup/design.md
  .kiro/specs/08-backend-cleanup/requirements.md
  .kiro/specs/08-backend-cleanup/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  ARCHITECTURE_UPDATE_SUMMARY.md
Owners: @documentation-team

Complete Task 1: Preparation and Safety Setup
  .kiro/specs/08-backend-cleanup/tasks.md
  cleanup-backup/README.md
  cleanup-backup/backend-files/.gitkeep
  cleanup-backup/baseline-functionality-test.md
  cleanup-backup/current-state-documentation.md
  cleanup-backup/database-files/.gitkeep
  cleanup-backup/documentation/.gitkeep
  cleanup-backup/package-configs/.gitkeep
  cleanup-backup/package-configs/current-dependency-tree.txt
  cleanup-backup/package-configs/original-backend-package.json
  cleanup-backup/package-configs/original-package.json
  cleanup-backup/package-configs/original-smarties-package.json
  cleanup-backup/package-configs/smarties-dependency-tree.txt
  cleanup-backup/scripts/.gitkeep
  smarties/app.json
Owners: @documentation-team, @hackathon-team-lead, @mobile-dev-team

tasks marked complete
  .kiro/specs/08-backend-cleanup/tasks.md
Owners: @documentation-team

updated gitignore
  .gitignore
Owners: @hackathon-team-lead

Clean up backend files and Python virtual environment
  .gitignore
Owners: @hackathon-team-lead

refactor(react-native): Migrate project from Expo to React Native CLI
  smarties/App.tsx
  smarties/TestApp.tsx
  smarties/app.json
  smarties/babel.config.js
  smarties/index.ts
  smarties/metro.config.js
  smarties/package-lock.json
  smarties/package.json
  smarties/react-native.config.js
Owners: @mobile-dev-team, @hackathon-team-lead

.github/CODEOWNERS:

# CODEOWNERS file for SMARTIES hackathon project
# This file defines who should review specific parts of the codebase

# Global owners - hackathon team leads
* @hackathon-team-lead

# React Native mobile app
/smarties/ @mobile-dev-team

# Backend services and APIs
/src/services/ @backend-dev-team

# Database and data models
/src/models/ @backend-dev-team
/setup-database.js @backend-dev-team
/playground-*.mongodb.js @backend-dev-team

# AI and machine learning components
/src/services/ai/ @ai-dev-team
/src/utils/allergenDetection.ts @ai-dev-team

# Infrastructure and deployment
/.github/ @devops-team
/infrastructure/ @devops-team
*.yml @devops-team
*.yaml @devops-team

# Documentation
/docs/ @documentation-team
README.md @documentation-team
*.md @documentation-team

# Configuration files
.env.example @devops-team
package.json @hackathon-team-lead
tsconfig.json @mobile-dev-team

# Security sensitive files
.env @security-team
/secrets/ @security-team
*.key @security-team
*.pem @security-team
